body {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 54px;
    padding: 0px 20px;
}

.ico_img {
    display: none !important;
}

.left_nav {
    margin-top: -10px
}

.left_nav p {
    font-size: 25px;
    color: black;
    font-weight: 900;
}

#form-search {
    height: 40px;
    border: 3px solid #eaeaea;
    border-radius: 5px;
    background-color: white;
    outline: none;
    margin: 12px 0px;
    padding: 11px 10px 10px 170px;
}

.search {
    position: relative;
    left: 45%;
    cursor: pointer;
    color: black;
}

.icon {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.icon i:hover {
    color: red;
}

.icon img {
    width: 35px;
    padding: 10px;
}

.icons,
.ico_img {
    font-size: 25px;
    color: black;
    background-color: white;
    padding: 15px 0px 0px;
}

.form {
    padding: 0px 50px 0px 0px !important;
    width: 350px;
}

.search1 {
    left: 90%;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .center_nav {
        display: none;
    }

    .icons,
    .icon img {
        display: none !important;
    }

    .ico1:hover,
    .ico_img:hover {
        cursor: pointer;
        color: red;
    }

    .ico1,
    .ico_img {
        display: inline-block !important;
    }
}